{{ define "main" }}
<div class="page">
  <div id="content">
    {{ partial "page-header.html" . }}

    {{ range $.Site.Data.projects }}
    <div>
      {{ $apiUrl := (print "https://api.github.com/repos/joymon/"  .)}}
      {{ $response := getJSON $apiUrl}}
      <h4>
        {{.}}</h4>
      <p class="first">
        {{ $response.description}}<br />
        <br />
        Application URL: <a href="{{$response.homepage}}">
          {{$response.homepage}}</a>
        <br />
        Source code:<a href="{{$response.url}}">{{$response.url}}</a>
      </p>
    </div>
    {{ end }}
  </div>
</div>
{{ end }}