/* 0 BASIC TAGS */

table {
    font-size: 1em;
}

h1, h2, h3, h4 {
    margin: 0;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

p {
    line-height: 1.4em;
    text-align: justify;
}

hr {
    border: 0;
    border-top: 1px solid #505050;
    height: 1px;
}

a {
    text-decoration: none;
    color: #DBB94F;
}

    a:visited {
        color: #C19B28;
    }

    a:hover {
        text-decoration: underline;
        color: #E6CD84;
    }

    a:active {
        color: #C19B28;
    }

body {
    background-color: #656565;
    background-image: url(images/background.gif);
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 0.7em;
    color: #CCCCCC;
}

img {
    border-width: 0;
}

/* 1 HEADER */

.header {
    background-image: url(images/header.gif);
    background-repeat: no-repeat;
    position: relative;
    width: 789px;
    height: 76px;
    margin: 0 auto 5px auto;
}


h1 {
    position: absolute;
    left: 37px;
    top: 12px;
    text-transform: uppercase;
    font-size: 18px;
}

h2 {
    position: absolute;
    left: 37px;
    top: 45px;
    font-size: 11px;
}

.table {
    display: table;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
.logo {
    position: absolute;
    left: 37px;
    top: 45px;
    font-size: 11px;
    letter-spacing: 3px;
    margin-bottom: 5px;
}

.menua {
    position: absolute;
    right: 5px;
    top: 13px;
    
}

.menub {
    margin: 8px auto 2px auto;
    
    float:left;
    position:relative;
}

    .menub a:visited {
        color: #DBB94F;
    }

.nav {
    position: absolute;
    right: 15px;
    top: 51px;
    text-transform: uppercase;
    font-size: 1em;
}

    .nav i {
        font-size: 1.4em;
        margin-left: 1em;
    }

    .menua a:visited, .nav a:visited {
        color: #DBB94F;
    }

/* 1.1 SHIM */

.shim {
    display: none;
}

/* 2 PAGE */

.page {
    background-repeat: repeat-y;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    position: relative;
    width: 686px;
    padding: 0px 37px;
    padding-top: 1px; /* Weird Mozilla Bug */
    padding-bottom: 40px; /* Weird Mozilla Bug */
}

h3 {
    margin-top: 1.0em;
    margin-bottom: 1.12em;
    font-size: 1.5em;
    font-weight: bold;
}

h4 {
    margin-top: 1.0em;
    margin-bottom: 1.12em;
    font-size: 13px;
}

/* 2.1 ALL PAGES */

#home, #resume, #links, #albums, #photos, #details, #changeLog, #admin-albums, #admin-photos, #admin-details {
    position: relative;
    width: 686px;
    padding: 0px 37px;
    padding-top: 1px; /* Weird Mozilla Bug */
    padding-bottom: 40px; /* Weird Mozilla Bug */
}

#sidebar {
    float: left;
    width: 214px;
    height: 100%;
}

#content {
    margin-left: 256px;
}

#whatsnew {
    width: 250px;
    height: 100%;
}

#resume h4, #changeLog h4, #links h4 {
    margin-top: 0px;
    border-top: 1px solid #505050;
    padding-top: 1.0em;
    position: absolute;
    left: 37px;
    width: 214px;
}

#resume #photo {
    position: absolute;
    left: 37px;
    top: 20px;
    width: 214px;
}

#resume .first {
    margin-top: 0;
    border-top: 1px solid #505050;
    padding-top: 1.5em;
}

.dot {
    color: #CCCCCC;
    line-height: 0px;
    background-repeat: repeat-x;
}

dl {
    margin-top: 0;
    margin-bottom: 0;
    border-top: 1px solid #505050;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    position: relative;
}

dt {
    position: absolute;
    left: 0;
}

dd {
    margin-left: 150px;
    margin-bottom: 10px;
}

.emptydata td {
    padding: 50px;
    color: #aeaeae;
}

.view {
    margin-left: auto;
    margin-right: auto;
    width: 686px;
    text-align: center;
}

    .view .photo-frame {
        margin-left: auto;
        margin-right: auto;
    }

.item {
    padding: 20px 50px;
    color: #B2B2B2;
}

    .item h4 {
        margin-bottom: 0.4em;
    }

.nullpanel {
    padding: 150px;
    width: auto;
    text-align: center;
}

.buttonbar, .buttonbar-top {
    width: 686px;
    height: 36px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
    text-align: center;
}

/* 3 FOOTER */

.footerbg {
    width: auto;
    height: 50px;
    text-align: center;
}

.footer {
    background-image: url(images/footer.gif);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 770px;
    text-align: center;
    font-size: 10px;
    color: #ffffff;
}

/* Inline styles are used because image controls hard code a border property */

.photo_198 {
    border: 4px solid #FFFFFF;
}

.blogItems {
    border-top: 1px solid #505050;
    width: 100%;
}

.blogItem {
    width: 100%;
    margin-top: 9px;
    border-collapse: separate;
}

.blogGrid {
    border-collapse: separate;
}

.menua i {
    font-size: 2em;
    display: none;
}

.menub i {
    font-size: 2em;
    display: none;
}

.menuItem {
    position: relative;
    float: left;
    padding-left: 0.15em;
    padding-right: 0.15em;
    text-transform: uppercase;
    font-size: 10px;
}
.blogItem .postedDate {
    width:25%;
    text-align:right;
    vertical-align:top;
}