/* For 700px - tablets */
@media screen and (max-width:700px) {
    .header {
        position: relative;
        width: auto;
        height: 76px;
        margin: 0 auto 5px auto;
    }

    .page {
        width: auto;
    }

    #content {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    #sidebar {
        width: auto;
        float: none
    }

    .footer {
        background-image: url(images/footer.gif);
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 20px;
        width: auto;
        height: 50px;
        text-align: center;
        font-size: 10px;
        color: #ffffff;
    }

    #coollinks {
        display: none;
    }

    .page h4, #links h4, #changeLog h4 {
        position: static;
    }

    #resume #photo {
        position: static;
    }
    dd {
        margin-left: 80px;
        margin-bottom: 10px;
    }
    .page h4{
        position:static
    }
    .page dd {
        margin-left: 80px;
        margin-bottom: 10px;
    }
    .copyright{
        width: 100%;
        padding-left: 0;
    }
}
