<div class="header">
    <h1>{{.Site.Title}}</h1>
    <span class="logo">
        {{.Site.Params.subtitle}}
    </span>
    <div class="menua">
        {{ partial "menu.html" . }}
    </div>
    <div class="nav">
        <a href="https://twitter.com/joymon"><i class="fa fa-twitter"></i></a>
        <a href="https://facebook.com/joygeorgek"><i class="fa fa-facebook"></i></a>
        <a href="https://plus.google.com/+JoyGeorgek"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.linkedin.com/in/joymon"><i class="fa fa-linkedin"></i></a>
        <a href="https://www.github.com/joymon"><i class="fa fa-github"></i></a>
        <a href="http://www.youtube.com/user/joygeorgek"><i class="fa fa-youtube"></i></a>
    </div>
</div>