/* For 980px monitors*/
@media screen and (max-width:980px) {
    .header {
        background-image: url(images/header.gif);
        background-repeat: no-repeat;
        position: relative;
        max-width: 789px;
        height: 76px;
        margin: 0 auto 5px auto;
    }
    
}