/* For 700px - tablets */
@media screen and (max-width:700px) {
    .header {
        width: auto;
    }

    .page {
        width: auto;
    }

    #content {
        width: auto;
        float: none;
        margin-left: 0px;
    }

    #sidebar {
        width: auto;
        float: none
    }

    #coollinks {
        display: none;
    }

    .page h4 {
        position: static;
    }

    #resume #photo {
        position: static;
    }
    dd {
        
        margin-bottom: 10px;
    }
    .page h4{
        position:static
    }
    .page dd {
        
        margin-bottom: 10px;
    }
    .page .second{
        text-align: left;
    }
    .copyright{
        width: 100%;
        padding-left: 0;
    }
     /* 3 FOOTER */
     
    .footer {
        width: auto;
        height: 50px;
    }
}