/* For 480px */
@media screen and (max-width:480px) {
    /* 0 BASIC TAGS */
    h1 {
        position: static;
        left: 0px;
    }
    body{
        font-size: 1em;
    }    
    /* 1 HEADER */

    .header {
        background-image: url(images/footer.gif) !important;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        width: auto;
        height: auto !important;
        margin: 0 auto 5px auto;
        padding-bottom: 10px;
        overflow:hidden;
    }
    .logo {
        position: static;
        left: 0px;
    }
    .menua {
        position: static;
        right: auto;
        float: left;
    }
    .nav {
        display: none;
    }
    .menuItem{
        font-size: 12px;
    }
    .menua i {
        display: block;
        margin-left: .5em;
        margin-right: .5em;
        color: #CCCCCC;
    }
    #coollinks {
        display: none;
    }
    #whatsnew {
        width: auto;
    }
    
    /* 2.1 ALL PAGES */

    .page h4,  #changeLog h4{
        position: static;
    }
    #resume #photo {
        position: static;
    }
    dt{
        max-width: 140px;
    }
    dd {
        margin-left: 150px;
    }
    /* 3 FOOTER */
    .footer{
        background-size: cover;
    }
}